/* Part 1 */

.testimonial{
    margin: $standard-padding 0;
    max-width: 620px;
    -webkit-box-shadow: 0px 3px 20px 6px $dropshadow-color;
    -moz-box-shadow: 0px 3px 20px 6px $dropshadow-color;
    box-shadow: 0px 3px 20px 6px $dropshadow-color;

    border-radius: $standard-radius;
    overflow: hidden;

    display: grid;
    grid-template: auto 96px 96px 160px / 1fr 192px 1fr;

    font-size: 28px;
    line-height: 52px;

    &__text {
        background: $testimonial-bg-color;
        padding: 50px;
        padding-bottom: 130px;
        color: $testimonial-text-color;

        grid-row: 1 / 3;
        grid-column: 1 / -1;
    }

    &__portrait {
        grid-row: 2 / 4;
        grid-column: 2 / -2;

        & img {
            border: solid 7px $testimonial-bg-color;
            border-radius: 50%;
        }
    }

    &__footer {
        background: $footer-bg-color;
        text-align: center;

        grid-row: 3 / -1;
        grid-column: 1 / -1;
    }

    &__name {
        position: relative;
        top: 42%;
        & p {
            color: $footer-text-color;
            font-size: 24px;
        }

        & p:first-child {
            color: $testimonial-bg-color;
            text-transform: uppercase;
        }
    }

}