$page-bg-color: #c3cfe2;
$standard-padding: 20px;

$dropshadow-color: rgba(153,153,153,0.95);
$standard-radius: 30px;
$testimonial-text-color: #555;
$testimonial-bg-color: #fff;
$footer-bg-color: #686de0;
$footer-text-color: #b3b6eb;

$grid-element-size: 350px;
$grid-element-bg-color: #202336;

$blog-bg-color: #e17b77;
$twitter-bg-color: #00aced;
$linkedin-bg-color: #007bb6;
$facebook-bg-color: #3b5998;
$github-bg-color: #333;
$socials-padding: 15px;